body {
    margin: 0;
    padding: 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color:rgb(66, 67, 77);
    overflow: hidden;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background-color: azure;
    border-radius: 30px;
    border: 10px solid rgb(158,43,22);
    padding: 10px 10px 30px 10px;

}

.center h1 {
    color: rgb(66, 67, 77);
    text-align: center;
    padding: 0 0 20px 0;
    border-bottom: 1px solid rgb(66, 67, 77);
}

.center form {
    padding: 0 40px;
    box-sizing: border-box;
}

form .text_input {
    position: relative;
    border-bottom: 1px solid rgb(66, 67, 77);
    margin: 10px 0;
}

.text_input input {
    width: 100%;
    padding: 0 5px;
    height: 30px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}

.box_error {
    color: red;
    background: solid rgb(221, 150, 150) !important;
}

button[type="submit"] {
    width: 100%;
    height: 50px;
    border: 1px solid;
    border-radius: 25px;
    background: rgb(66, 67, 77);
    font-size: 20px;
    font-weight: 700;
    color: azure;
    cursor: pointer;
    outline: none;
    margin-top: 10px;
}

button[type="submit"]:hover{
    border-color: rgb(66, 67, 77);
    transition: 0.5s;
}

.error {
    width: 100%;
    font-size: 16px;
    color: red;
    margin-top: 0px;
    margin-bottom: 10px;
    display: none;
}